footer.footer 
 .footer-content
  h3 Fork Subscription Pricing
  div.footer-content-bloks
    div.footer-content-bloks__blok
      h4 STUDENTS
      p.footer-content-bloks__price $29
      p.footer-content-bloks__deskription PER MONTH
      p.footer-content-bloks__text Personal License
      button PURSCHASE
    div.footer-content-bloks__blok
      h4 PROFESSIONAL
      p.footer-content-bloks__price $59
      p.footer-content-bloks__deskription PER MONTH
      p.footer-content-bloks__text Professional License Email Support
      button PURSCHASE
    div.footer-content-bloks__blok.footer-content-bloks__third-blok
      h4 AGENSY
      p.footer-content-bloks__price-third-blok  $99
      p.footer-content-bloks__deskription PER MONTH
      p.footer-content-bloks__text-third-blok 1-12 Team Members Phone Support
      button PURSCHASE
    div.footer-content-bloks__blok
      h4 ENTERPRISE
      p.footer-content-bloks__price $159
      p.footer-content-bloks__deskription PER MONTH
      p.footer-content-bloks__text Unlimited Team Members 24/ 7 Phone Support
      button PURSCHASE